body {
    font-family: 'Roboto', sans-serif;
}

.play-list {
    flex-wrap: wrap;
    gap: 20px 0;
    padding-bottom: 50px;
    border-bottom: 5px solid #DFDFDF;
}

main {
    border: 0;
}

@media screen and (min-width: 801px) and (max-width: 1330px) {
    .side-bar {
        max-width: 60px;
    }

    .widget {
        border: 0;
    }

    .menu-item {
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
        padding: 10px 0;
    }

    .menu-item .icon {
        margin-right: 0;
    }

    .icon-text {
        font-size: 12px;
    }

    .widget:nth-child(1) {
        padding-bottom: 0;
    }

    .widget:nth-child(2) {
        padding-top: 0;
    }

    #second__widget .menu-item{
        display: none;
    }

    #second__widget .menu-item:nth-child(1) {
        display: flex;
        flex-wrap: wrap;
    }

    #third__widget {
        display: none;
    }

    #fourth__widget {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .side-bar {
        display: none;
    }
}

@media screen and (max-width: 1140px) {
    .categories {
        display: none;
    }
}

@media screen and (min-width: 891px) and (max-width: 1140px) {
    .play-list-item {
        min-width: 33%;
    }
}

@media screen and (min-width: 510px) and (max-width: 890px) {
    .play-list-item {
        min-width: 49%;
    }
}

@media screen and (max-width: 509px) {
    .play-list-item {
        min-width: 100%;
    }
}

.widget .menu-item:last-child .icon i {
    margin-left: -5px;
}

.widget__title {
    color: #656565;
    margin: 10px 0;
}

.notification-dot {
    color: #0A54CE;
    text-align: right;
    font-size: 6px;
    flex-grow: 1;
}

.dot {
    width: 5px;
    height: 5px;
    background-color: #195ED1;
    border-radius: 50%;
}

header {
    height: auto;
    padding: 10px;
    border: 0;
}

.nav__bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
}

.nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0 30px;
}

.home-button img{
    width: 100px;
}

.search {
    width: 450px;
    padding: 10px;
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-button-icon {
    padding: 9px 25px;
    background-color: #F7F7F7;
    border: 1px solid #707070;
    border-left: 0;
}

.microphone-button {
    height: 39px;
    width: 39px;
    background-color: #F7F7F7;
    border-radius: 50%;
    margin-left: 15px;
    position: relative;
}

.microphone-button i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0 25px;
    font-size: 22px;
}

.profile-avatar {
    width: 39px;
    height: 39px;
    border-radius: 50%;
    overflow: hidden;
}

.card-body h3 {
    padding-bottom: 5px;
}

.card-body p {
    font-size: 14px;
    color: #858585;
}

.categories {
    flex-wrap: wrap;
}

.categories .active {
    background-color: black;
    border-color: black;
    color: white;
}